{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Profile page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'userapp/fonts/icomoon/style.css'%}">

    <link rel="stylesheet" href="{% static 'userapp/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'userapp/css/jquery-ui.css'%}">
    <link rel="stylesheet" href="{% static 'userapp/css/owl.carousel.min.css'%}">
    <link rel="stylesheet" href="{% static 'userapp/css/owl.theme.default.min.css'%}">
    <link rel="stylesheet" href="{% static 'userapp/css/owl.theme.default.min.css'%}">

    <link rel="stylesheet" href="{% static 'userapp/css/jquery.fancybox.min.css'%}">

    {% comment %} <link rel="stylesheet" href="{% static 'userapp/css/bootstrap-datepicker.css'%}"> {% endcomment %}

    <link rel="stylesheet" href="{% static 'userapp/fonts/flaticon/font/flaticon.css'%}">

    <link rel="stylesheet" href="{% static 'userapp/css/aos.css'%}">

    <link rel="stylesheet" href="{% static 'userapp/css/style.css'%}">
    
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  
    {% if messages %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <script>swal({
                    title: "Success!",
                    text: "{{message}}",
                    icon: "success",
                    button: "OK",
                });
            </script>
        
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
            <script>swal({
                    title: "Warning :)",
                    text: "{{message}}",
                    icon: "warning",
                    button: "OK",
                
                });
            </script>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
            <script>swal({
                    title: "info :)",
                    text: "{{message}}",
                    icon: "info",
                    button: "OK",
                });
            </script>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <script>swal({
                    title: "error :)",
                    text: "{{message}}",
                    icon: "error",
                    button: "OK",
                });
            </script>
        {% endif %}
    {% endfor %}
{% endif %}


  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>


  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
   
    
    <header class="site-navbar js-sticky-header site-navbar-target navback" role="banner">

      <div class="container">
        <div class="row align-items-center">
          
          <div class="col-6 col-xl-2">
            <h1 class="mb-0 site-logo"><a href="{% url 'home' %}" class="h2 mb-0">SVT<span class="text-primary">.</span> </a></h1>
          </div>

          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
               
                <li><a href="{% url 'user_dash' %}" class="nav-link">Dashboard</a></li>
                <li><a href="{% url 'user_profile' %}" class="nav-link active">Profile</a></li>
                <li><a href="{% url 'user_predict' %}" class="nav-link">Detect Fraud</a></li>
                <li><a href="{% url 'home' %}" class="nav-link">Logout</a></li>
                
              </ul>
            </nav>
          </div>


          <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a></div>

        </div>
      </div>
      
    </header>

  
    <section class="site-section bg-light" id="user-profile" data-aos="fade">
        <div class="container">
          <div class="row">
            <div class="col-12 text-center mt-5">
              <h2 class="section-title mb-3 mt-5">My Profile</h2>
            </div>
          </div>
    </div>
    </section>

    <section class="my-4 py-3">
        <div class="container">
            <div class="row">
                <div class="col-4 box" >
                    <div class="card text-center">
                      <div class="mt-2">
                        <form method="POST" enctype="multipart/form-data" >
                          {% csrf_token %}
                        <img src="/media/{{user.image}}" alt="Profile Picture" style="object-fit:cover; border-radius:50%; width:50%; height:12em;">
                        <div class="row form-group mt-3 d-flex justify-content-center">
                          <div class="col-4 mt-2 align-items-center ">
                              <label for="image" class="form-label ml-2" style="font-weight: 400;">Edit Picture</label>
                          </div>
                          <div class="col-7">
                              <input type="file" name="img" class="form-control form-control-sm text-center mr-2" accept="image/*">
                          </div>
                      </div>  
                      </div>
    
                        <hr>
                        <h4 class="my-1"> {{user.name}}</h4>
                        <p>{{user.phone}}</p>
    
                    </div>
                    
                </div>
                <div class="col box">
                <div class="card mb-3">
                    <div class="card-body text-center">
                      
                         <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0 mt-2">Full Name</h6>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" name="name" value="{{user.name}}" placeholder="Name" class="profinput">
                            </div>
                        </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0 mt-2">Email</h6>
                    </div>
                    <div class="col-sm-9">
                      <input type="email" name="email" value="{{user.email}}" placeholder="Email" class="profinput"> 
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3 ">
                      <h6 class="mb-0 mt-2">Phone</h6>
                    </div>
                    <div class="col-sm-9">
                      <input type="tel" name="phone" value="{{user.phone}}" placeholder="Phone Number" class="profinput">
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0 mt-2">Address</h6>
                    </div>
                    <div class="col-sm-9">
                      <input type="text" name="address" value="{{user.address}}" class="profinput">
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0 mt-2">Bio</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <textarea name="bio" cols="40" rows="3" placeholder="Your bio" class="profinput"></textarea>
                    </div>
                  </div>
             
                  <div class="row d-flex justify-content-center">
                    <div class="col-sm-12">
                      <button type="submit" class="btn btn-primary btn-round-full my-2">Edit</button>
                    </div>
                  </div>
                </form>
                </div>
              </div>
                </div>
            </div>
        </div>
    </section>


    
    
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-5">
                <h2 class="footer-heading mb-4">About the Project</h2>
                <p>This is a final year BTech project developed to enhance security in financial systems. The goal is to reduce fraud, protect customer data, and improve trust in digital transactions using machine learning.</p>
              </div>
              <div class="col-md-3 ml-auto">
                <h2 class="footer-heading mb-4">Quick Links</h2>
                <ul class="list-unstyled">
                  <li><a href="{% url 'home' %}" class="smoothscroll">Home</a></li>
                  <li><a href="{% url 'admin_login' %}" class="smoothscroll">Admin</a></li>
                  <li><a href="{% url 'user_login' %}" class="smoothscroll">User</a></li>
                  <li><a href="{% url 'about' %}" class="smoothscroll">About Us</a></li>
                  <li><a href="{% url 'contact' %}" class="smoothscroll">Contact Us</a></li>
                </ul>
              </div>
              <div class="col-md-3 footer-social">
                <h2 class="footer-heading mb-4">Follow Us</h2>
                <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
              </div>
            </div>
          </div>
          
        </div>
        <div class="row pt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
              <p class="copyright"><small>
             
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> 
            All rights reserved | Designed by SVT
           </small></p>
        
            </div>
          </div>
          
        </div>
      </div>
    </footer>

  </div> <!-- .site-wrap -->

<script src="{% static 'userapp/js/jquery-3.3.1.min.js'%}"></script>
  <script src="{% static 'userapp/js/jquery-ui.js'%}"></script>
  <script src="{% static 'userapp/js/popper.min.js'%}"></script>
  <script src="{% static 'userapp/js/bootstrap.min.js'%}"></script>
  <script src="{% static 'userapp/js/owl.carousel.min.js'%}"></script>
  <script src="{% static 'userapp/js/jquery.countdown.min.js'%}"></script>
  <script src="{% static 'userapp/js/jquery.easing.1.3.js'%}"></script>
  <script src="{% static 'userapp/js/aos.js'%}"></script>
  <script src="{% static 'userapp/js/jquery.fancybox.min.js'%}"></script>
  <script src="{% static 'userapp/js/jquery.sticky.js'%}"></script>
  <script src="{% static 'userapp/js/isotope.pkgd.min.js'%}"></script>

  
  <script src="{% static 'userapp/js/main.js'%}"></script>

  
  </body>
</html>